

html,body{

  color:#111;

  font-size: 1.2em;
  

}

input {
background: none;
border: 1px solid #ccc;
border-radius: 0.25em;
color: black;
margin: 0.5em;
padding: 10px; 
width: 98%;
font-size: 1.3em;
}
@media (max-width:576px) {

  input{
    margin-left: -52px;
    width: 150%;
    padding: 5px;
    font-size: 1.2em;
  }
  
    
  }
hr{
  border: 1px solid #bbb;
  width: 99%;
  
}
@media (max-width:576px) {

  hr{
  margin-left: -52px;
    width: 150%;
    
  }
    
  }

::placeholder {
color: #eee;
}

@media (max-width:576px) {

  ::placeholder {
    font-size:0.54em;
    }
  
    
  }

button {
background: none;
color: #61dafb;
cursor: pointer;
font-size: 1em;
text-decoration: none;
margin-right: 10px;
padding:5px;
width:230px;
height: 110px;
margin-bottom: 20px;
margin-left: 90px;

}
@media (max-width:576px) {

button{
  width:100px;
height: 65px;
font-size: 0.6em;

}

  
}

h2{

  color:#fff;
  font-style: italic;
}

/*Para el div una clase llamada card*/

.card-grid{
  display:flex;
  flex-direction: row; /*dirección del flex*/
  flex-wrap: wrap; /*Ajuste*/
}

.card1-grid{
  display:flex;
  flex-direction: row; /*dirección del flex*/
  flex-wrap: wrap; /*Ajuste*/
}


.card{
  align-content: center; /*Alineación al centro*/
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden; /*Para que los bordes de las imágenes no se salgan del contenedor*/
  
}
@media (max-width:576px) {
  .card{
    width: 70%;
   
  }
}


.card1{
  align-content: center; /*Alineación al centro*/
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: -80px;
  overflow: hidden; /*Para que los bordes de las imágenes no se salgan del contenedor*/
}
@media (max-width:576px) {
  .card1{
    margin-left: 170px;
    margin-right: 50px;
   
  }
}

.card2{
  align-content: center; /*Alineación al centro*/
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: -80px;
  overflow: hidden; /*Para que los bordes de las imágenes no se salgan del contenedor*/
}
.card1 p{
  padding: 5px;
  text-align: center;
}

.card1 img{
  max-height: 170px;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 170px;
}

.flotar{
  position: relative;
  left: 120%;
  top: -76%;
  margin-bottom: -180px;
}  

.grass{
  background-color: #A7DB8D  ;
  color:black;
}

.bug{
  background-color: #C6D16E;
  color:black;
}
.dark{
  background-color:#A29288;
  color:black;
}
.dragon{
  background-color:#A27DFA;
  color:black;
}
.electric{
  background-color:#FAE078;
  color:black;
}
.fairy{
  background-color:#F4BDC9;
  color:black;
}
.fighting{
  background-color:#D67873;
  color:black;
}
.fire{
  background-color:#F5AC78;
  color:black;
}
.ghost{
  background-color:#A292BC;
  color:black;
}
.ground{
  background-color:#EBD69D;
  color:black;
}
.ice{
  background-color:#BCE6E6;
  color:black;
}
.normal{
  background-color:#C6C6A7;
  color:black;
}
.poison{
  background-color:#C183C1;
  color:black;
}
.psychic{
  background-color:#FA92B2;
  color:black;
}
.rock{
  background-color:#D1C17D;
  color:black;
}
.steel{
background-color:D1D1E0;

}
.water{
 background-color:#9DB7F5;
 color:black;
}

.ocultar{
  display: none;
}
.ocultar2{
  display: none;
}

.tipo{
  width: 10%;
  font-size: 0.8em;
  font-weight: bold;
  transition: all .3s ease;
}

.tipo:hover {
  transform: scale(1.1);
}
@media (max-width:576px) {
  .tipo{
    width: 25%;
    margin-left: 18px;
    font-size: 14px;
  }
}

.llamada-texto1 h3 {
  font-size: 32px;
  color: white;
  padding-top: 100px;
  text-align: center;
  margin-left: 70px;
 
} 

@media (max-width:576px) {
  .llamada-texto1 h3{
    padding-top: 45px;
    font-size: 18px;
  }
}


.llamada-texto1 button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  background-color: #ffa630;
  color: #fff;
  font-size: 30px;
  border-radius: 2px;
  transition: all .3s ease;
  width: 200px;
  height: 60px;

}
@media (max-width:576px) {
  .llamada-texto1 button{
    width: 120px;
    height: 40px;
    font-size: 16px;
   margin-top: 80px;
  
  }
}
.hola{
 
padding: 50px;
  width: 100%;

}

.cambio{
  padding: 10px 20px;
  margin-top: -60px;
  border: none;


  font-size: 20px;
  border-radius: 2px;
  transition: all .3s ease;
  width: 400px;
  height: 60px;
  margin-bottom: 90px;
  margin-top: 20px;
}
@media (max-width:576px) {
  .cambio{
    margin-left: -150px;
    margin-right: 30px;
  }
}
.mundial{
  padding: 20px;
}

@media (max-width:576px) {
  .mundial{
    margin-left: -70px;
    margin-bottom: 20px;
   

  }
}





.transformadora{
  text-transform: uppercase;
 
}
@media (max-width:576px) {
  .transformadora{
    font-size: 0.45em;
   
  }
}

.sizeCard{
margin-top: -80px;
height: 218px;
padding-top: 20px;

}
@media (max-width:576px) {
  .sizeCard{
   margin-bottom: -135px;
    margin-left: -45px;
    height: 160px;
    font-size: 14px;
   
  }
}

.divPrincipal{
  margin-left: 90px;
}
@media (max-width:576px) {
  .divPrincipal{
    width: 150%;
    margin-left: -59px;

    
  }
}


.divPrincipal1{
  margin-left: 90px;
}
@media (max-width:576px) {
  .divPrincipal1{
   width: 300px;
   margin-left: -240px;
margin-right: 40px;

   
  }
}

.subti{
  color:black;
}

@media (max-width:576px) {
  .subti{
    margin-left:-52px;
    margin-top: -50px;
  }
}

.imagenPokemon{
  color:black;
}

@media (max-width:576px) {
  .imagenPokemon{
    margin-top: 10px;
    width: 150%;
    margin-left: 38px;
   
  }
}
