*{
  font-family: Helvetica, Arial, sans-serif;
}

html,body{
  background-color: #21232A;
  color:white;
  font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  padding: 60px;
}

input {
background: none;
border: 1px solid #fff;
border-radius: 0.25em;
color: #fff;
margin: 0.5em;
padding: 10px; 
max-width: 500px;
width: 100%;
font-size: 1.3em;
}

::placeholder {
color: #eee;
}

button {
background: none;
border: 2px solid white;
color: #61dafb;
cursor: pointer;
font-size: 1.3em;
text-decoration: none;
margin-right: 10px;
padding:10px;
}

h2{

  color:#fff;
  font-style: italic;
}

/*Para el div una clase llamada card*/

.card-grid{
  display:flex;
  flex-direction: row; /*dirección del flex*/
  flex-wrap: wrap; /*Ajuste*/
}



.card{
  align-content: center; /*Alineación al centro*/
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden; /*Para que los bordes de las imágenes no se salgan del contenedor*/
  
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 170px;
}

.flotar{
  position: relative;
  left: 120%;
  top: -76%;
  margin-bottom: -180px;
}  

.grass{
  background-color: #A7DB8D  ;
}

.bug{
  background-color: #C6D16E;
}
.dark{
  background-color:#A29288
}
.dragon{
  background-color:#A27DFA
}
.electric{
  background-color:#FAE078;
  color:black;
}
.fairy{
  background-color:#F4BDC9	
}
.fighting{
  background-color:#D67873
}
.fire{
  background-color:#F5AC78
}
.ghost{
  background-color:#A292BC
}
.ground{
  background-color:#EBD69D
}
.ice{
  background-color:#BCE6E6
}
.normal{
  background-color:#C6C6A7
}
.poison{
  background-color:#C183C1
}
.psychic{
  background-color:#FA92B2
}
.rock{
  background-color:#D1C17D
}
.steel{
background-color:D1D1E0;
color:black;
}
.water{
 background-color:#9DB7F5
}
